$green: green;
$greenLight: #20a720;


.wrapper {
  display: grid;
  grid-template-areas: "header header"
  "sidebar content";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}

.main-content {
  height: calc( 100vh - 70px);
  overflow-x: hidden;
  overflow-y: auto;
}
.content {
  grid-area: content;
}




@import "../Header/header";
@import "../Profile/profile";
@import "../Sidebar/sidebar";
