
.sidebar {
    grid-area: sidebar;
    height: calc(100vh - 70px);
    overflow-y: auto;
    background: green;
    &__menu {
      list-style: none;
      padding-left: 0;
      li {
          width: 100%;
      }
      a {
          color: #fff;
          line-height: 200%;
          font-size: 24px;
          font-weight: bold;
          text-decoration: none;
          display: block;
          padding: 0px 20px;
          transition: all 0.3s ease;
          &:hover,
          &.active {
            background: $greenLight;
            color: gold;
          }
      }
    }
  }